-----BEGIN CERTIFICATE-----
MIIEETCCAvmgAwIBAgIJAIaMQbC3WJs+MA0GCSqGSIb3DQEBCwUAMIGPMQswCQYD
VQQGEwJCUjEPMA0GA1UECAwGUmFuZG9tMQ4wDAYDVQQHDAVSYWRvbTEPMA0GA1UE
CgwGUmFuZG9tMQ8wDQYDVQQLDAZSYW5kb20xGjAYBgNVBAMMEUxvY2FsIENlcnRp
ZmljYXRlMSEwHwYJKoZIhvcNAQkBFhJleGFtcGxlQGRvbWFpbi5jb20wHhcNMTkw
MTI1MTg0NzAxWhcNMjAwNjA4MTg0NzAxWjCBrDELMAkGA1UEBhMCVVMxFDASBgNV
BAgMC1JhbmRvbVN0YXRlMRMwEQYDVQQHDApSYW5kb21DaXR5MRswGQYDVQQKDBJS
YW5kb21Pcmdhbml6YXRpb24xHzAdBgNVBAsMFlJhbmRvbU9yZ2FuaXphdGlvblVu
aXQxIDAeBgkqhkiG9w0BCQEWEWhlbGxvQGV4YW1wbGUuY29tMRIwEAYDVQQDDAls
b2NhbGhvc3QwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC38gdCVIfL
QDv39ylKzv+DleLt1U6mjwgym4PzoW7l52FAGZXYmjpNhTgTrQJJeXc06V3P8rM7
ptGLPKIx/hS0FSXr9qzcVZ7OZv99a9g6fDMoyvOr+gXpR4wfX6KhsiyDAwO7d4nb
j6WE3hblWplHjcrezDJGyF1Fr5wIavY/8AWck9Ii+flTTHOuRTBrvL0sxtQDRiQt
uIMf1iVr1iCC27fHOH1eE7NKgcJyjk6E+ZCXIAonY4fUR8+mvjOatIE4oSagK9bC
0rN5QVGaTYPxLeKcPp31M580NaQac50k6N22cpJN6n7anorQf4i9VWzh6kWHNf3/
s3YFQGIL4Mv1AgMBAAGjUTBPMB8GA1UdIwQYMBaAFFXHxSZ/FWWuDG0ZgAHQDxdU
KG9NMAkGA1UdEwQCMAAwCwYDVR0PBAQDAgTwMBQGA1UdEQQNMAuCCWxvY2FsaG9z
dDANBgkqhkiG9w0BAQsFAAOCAQEAOwIoMDDoBqYg6zSZzULjy74+BLluopLMv7wf
PkqX1YGepfXoXokYoHaK258Rc4gOknV0WzlecItooZ3iipSF+0r3ndA18Ai8ku/U
yrPL3DCgGR0QuzDEkIvRM/Wj+KbGsVal31DlGBqE1IvxH+CACjIsFBoEWTJdbZKq
quBkQi1GFWxo/PC3hO/3od7eUxetTjbmj5rkKfzX5efMIPsSUbtaNloLE2/U05p+
ygZDLuq+g7UKRqHDGUcbikWBNPfuE3nX3JKQRVaWkVWdgg7CE05HE0db4ULO/z8d
3CmwMGUezJLW1R6Pv9FSIJyj2AuoUUaRwgbCXcMum63h5cP3TA==
-----END CERTIFICATE-----
